<configuration>
    <configSections>
        <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration" />
    </configSections>
    <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
        <configurationSections>
            <configurationSection name="loggingDistributorConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="loggingDistributorConfiguration" path="EnterpriseLibrary.LoggingDistributor.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="loggingDistributorConfiguration" />
            </configurationSection>
            <configurationSection name="loggingConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="loggingConfiguration" path="EnterpriseLibrary.Logging.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="loggingConfiguration" />
            </configurationSection>
        </configurationSections>
    </enterpriselibrary.configurationSettings>
</configuration>