<?xml version="1.0" encoding="utf-8"?>
<securityConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security">
    <enterpriseLibrary.securitySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security">
      <authenticationProviders>
        <authenticationProvider
			xsi:type="DbAuthenticationProviderData"
			name="DbAuthenticationProviderName"
			database="EntLibSecurity"
			hashProvider="sha1"/>
      </authenticationProviders>
      <rolesProviders/>
      <profileProviders/>

    </enterpriseLibrary.securitySettings>
  </xmlSerializerSection>
</securityConfiguration>