<?xml version="1.0" encoding="utf-8" ?>
<dataConfiguration>
	<xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data">
		<enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data" defaultInstance="EntLibSecurity">
			<databaseTypes>
				<databaseType name="SqlServer" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data" />
			</databaseTypes>
			<connectionStrings>
				<connectionString name="SecurityDatabase">
					<parameters>
						<parameter name="server" value="localhost" />
						<parameter name="database" value="Security" />
						<parameter name="Integrated Security" value="true" />
					</parameters>
				</connectionString>
			</connectionStrings>
			<instances>
				<instance name="EntLibSecurity" type="SqlServer" connectionString="SecurityDatabase"/>
			</instances>
		</enterpriseLibrary.databaseSettings>
	</xmlSerializerSection>
</dataConfiguration>