<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration" />
  </configSections>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="Application" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
  <configurationSections>
    <configurationSection name="dataConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Storage.XmlFileStorageProvider, Microsoft.Practices.EnterpriseLibrary.Configuration" path="dataConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Transformer.XmlSerializerTransformer, Microsoft.Practices.EnterpriseLibrary.Configuration">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
    <configurationSection name="securityConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Storage.XmlFileStorageProvider, Microsoft.Practices.EnterpriseLibrary.Configuration" path="securityConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Transformer.XmlSerializerTransformer, Microsoft.Practices.EnterpriseLibrary.Configuration">
        <includeTypes>
          <includeType name="DbAuthenticationProviderData" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication.Configuration.DbAuthenticationProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication" />
        </includeTypes>
      </dataTransformer>
    </configurationSection>
    <configurationSection name="securityCryptographyConfiguration" encrypt="false">
      <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Storage.XmlFileStorageProvider, Microsoft.Practices.EnterpriseLibrary.Configuration" path="securityCryptographyConfiguration.config" />
      <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Transformer.XmlSerializerTransformer, Microsoft.Practices.EnterpriseLibrary.Configuration">
        <includeTypes />
      </dataTransformer>
    </configurationSection>
  </configurationSections>
  <keyAlgorithmStorageProvider xsi:nil="true" />
</enterpriselibrary.configurationSettings>
</configuration>