<?xml version="1.0" encoding="utf-8" ?>
<dataConfiguration>
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data">
        <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            defaultInstance="SecurityDatabase" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
            <databaseTypes>
                <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data" />
            </databaseTypes>
            <instances>
                <instance name="SecurityDatabase" type="Sql Server" connectionString="SecurityDatabase" />
            </instances>
            <instances>
                <instance name="QuickStartsDatabase" type="Sql Server" connectionString="QuickStartsDatabase" />
            </instances>
            <connectionStrings>
                <connectionString name="SecurityDatabase">
                    <parameters>
                        <parameter name="server" value="localhost" isSensitive="false" />
                        <parameter name="database" value="Security" isSensitive="false" />
                        <parameter name="Integrated Security" value="True" isSensitive="false" />
                    </parameters>
                </connectionString>
            </connectionStrings>
            <connectionStrings>
                <connectionString name="QuickStartsDatabase">
                    <parameters>
                        <parameter name="server" value="localhost" isSensitive="false" />
                        <parameter name="database" value="EntLibQuickStarts" isSensitive="false" />
                        <parameter name="Integrated Security" value="True" isSensitive="false" />
                    </parameters>
                </connectionString>
            </connectionStrings>
        </enterpriseLibrary.databaseSettings>
    </xmlSerializerSection>
</dataConfiguration>