<?xml version="1.0" encoding="utf-8" ?>
<securityConfiguration>
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security">
        <enterpriseLibrary.securitySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            authenticationDefaultInstance="Security Database Authentication Provider" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security">
            <rolesProviders />
            <authorizationProviders />
            <authenticationProviders>
                <authenticationProvider xsi:type="DbAuthenticationProviderData" name="Security Database Authentication Provider" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication.DbAuthenticationProvider, Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication"
                    database="SecurityDatabase" hashProvider="SHA1Managed" />
                <authenticationProvider xsi:type="DbAuthenticationProviderData" name="QuickStarts Database Authentication Provider" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication.DbAuthenticationProvider, Microsoft.Practices.EnterpriseLibrary.Security.Database.Authentication"
                    database="QuickStartsDatabase" hashProvider="SHA1Managed" />
            </authenticationProviders>
            <profileProviders />
            <securityCacheProviders />
        </enterpriseLibrary.securitySettings>
    </xmlSerializerSection>
</securityConfiguration>