<?xml version="1.0" encoding="utf-8" ?> 
<cachingConfiguration>
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching">
         <enterpriseLibrary.cacheSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/cache" defaultCacheManager="ShortInMemoryPersistence">
            <cacheManagers>                
                <cacheManager name="EncryptedCacheInDatabase" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10">
                    <cacheStorage xsi:type="DataCacheStorageData" name="Data Cache Storage"
                        databaseInstanceName="CachingDatabase" partitionName="Partition2">
                        <storageEncryption xsi:type="SymmetricStorageEncryptionProviderData" name="Fred" symmetricInstance="Fred" />
                    </cacheStorage>
                </cacheManager>                
            </cacheManagers>
        </enterpriseLibrary.cacheSettings>
    </xmlSerializerSection>
</cachingConfiguration>