<?xml version="1.0" encoding="utf-8" ?>
<!-- file created by configuration tool any changes will be overriden -->
<loggingDistributorConfiguration>
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Logging.Distributor.Configuration.DistributorSettings, Microsoft.Practices.EnterpriseLibrary.Logging">
        <enterpriseLibrary.loggingDistributorSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/loggingdistributor" defaultCategory="Default Category" defaultFormatter="Default Formatter">
            <distributorService serviceName="test" msmqPath="test" queueTimerInterval="1000" />
            <sinks>
                <sink xsi:type="CustomSinkData" name="MockSink" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.Tests.MockLogSink, Microsoft.Practices.EnterpriseLibrary.Logging" />
                <sink xsi:type="CustomSinkData" name="MockSink2" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.Tests.MockLogSink, Microsoft.Practices.EnterpriseLibrary.Logging" />
                <sink xsi:type="CustomSinkData" name="CustomLogEntrySink" type="Microsoft.Practices.EnterpriseLibrary.Logging.Sinks.Tests.CustomLogEntrySink, Microsoft.Practices.EnterpriseLibrary.Logging" />
                <sink xsi:type="EventLogSinkData" name="ApplicationLogSink" eventSourceName="EntLib Unit Test" />
            </sinks>
            <formatters>
                <formatter xsi:type="TextFormatterData" name="Default Formatter">
                    <template>
					<![CDATA[<EntLibLog>\r\n\t<message>{message}</message>\r\n\t<timestamp>{timestamp}</timestamp>\r\n\t<title>{title}</title>\r\n</EntLibLog>]]>
				</template>
                </formatter>
                <formatter xsi:type="TextFormatterData" name="SimpleTextFormat">
                    <template>
					<![CDATA[{timestamp}: {title}\r\n\r\n{message}]]>
				</template>
                </formatter>
                <formatter xsi:type="TextFormatterData" name="CustomTextFormat">
                    <template>
					<![CDATA[Timestamp: {timestamp}\r\nTitle: {title}\r\n\r\nAcme Field1: {field1}\r\nAcme Field2: {field2}\r\nAcme Field3: {field3}\r\n\r\nMessage: {message}]]>
				</template>
                </formatter>
                <formatter xsi:type="TextFormatterData" name="DictionaryFormat">
                    <template>
					<![CDATA[Timestamp: {timestamp}\r\nTitle: {title}\r\n\r\nMessage: {message}\r\n\r\nExtended Properties:\n{dictionary(Key: {key}\t\tValue: {value}\n)}]]>
				</template>
                </formatter>
            </formatters>
            <categories>
                <category name="Category">
                    <destinations>
                        <destination name="destination1" sink="MockSink" format="XmlFormat" />
                        <destination name="destination2" sink="MockSink2" />
                    </destinations>
                </category>
                <category name="Default Category">
                    <destinations />
                </category>
            </categories>
            <formatters />
        </enterpriseLibrary.loggingDistributorSettings>
    </xmlSerializerSection>
</loggingDistributorConfiguration>