<?xml version="1.0" encoding="utf-8" ?>
<loggingConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging">
        <enterpriseLibrary.loggingSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/logging" loggingEnabled="false" tracingEnabled="false"
            minimumPriority="1" name="Client Settings" distributionStrategy="Msmq" categoryFilterMode="DenyAllExceptAllowed">
            <categoryFilters>
                <categoryFilter name="Category Filter" />
                <categoryFilter name="Category Filter1" />
            </categoryFilters>
            <distributionStrategies>
                <distributionStrategy xsi:type="InProcDistributionStrategyData" name="InProc" />
                <distributionStrategy xsi:type="MsmqDistributionStrategyData" name="Msmq" queuePath=".\Private$\entlib" />
                <distributionStrategy xsi:type="CustomDistributionStrategyData" name="MockStrategy" type="Microsoft.Practices.EnterpriseLibrary.Logging.Distributor.Tests.MockDistributionStrategy, Microsoft.Practices.EnterpriseLibrary.Logging" />
            </distributionStrategies>
        </enterpriseLibrary.loggingSettings>
    </xmlSerializerSection>
</loggingConfiguration>