<?xml version="1.0" encoding="utf-8" ?> 
<cachingConfiguration>
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching">
         <enterpriseLibrary.cacheSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/cache" defaultCacheManager="ShortInMemoryPersistence">
            <cacheManagers>
                <cacheManager name="ShortInMemoryPersistence" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="10" numberToRemoveWhenScavenging="2">
                    <cacheStorage xsi:type="CustomCacheStorageData" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching">
                        <extensions />
                    </cacheStorage>
                </cacheManager>
                <cacheManager name="InDatabasePersistence" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="10">
                    <cacheStorage xsi:type="DataCacheStorageData" name="Data Cache Storage"
                        databaseInstanceName="CachingDatabase" partitionName="Partition1" />
                </cacheManager>
                <cacheManager name="SecondInDatabasePersistence" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="10">
                    <cacheStorage xsi:type="DataCacheStorageData" name="Data Cache Storage"
                        databaseInstanceName="CachingDatabase" partitionName="Partition1" />
                </cacheManager>
                <cacheManager name="InMemoryPersistence" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="10">
                    <cacheStorage xsi:type="DataCacheStorageData" name="Data Cache Storage"
                        databaseInstanceName="CachingDatabase" partitionName="Partition1" />
                </cacheManager>
                <cacheManager name="SmallInMemoryPersistence" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="3" numberToRemoveWhenScavenging="2">
                    <cacheStorage xsi:type="CustomCacheStorageData" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching">
                        <extensions />
                    </cacheStorage>
                </cacheManager>
                <cacheManager name="CacheManagerWithBadCacheStorageInstance" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="10">
                    <cacheStorage xsi:type="CustomCacheStorageData" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching">
                        <extensions />
                    </cacheStorage>
                </cacheManager>
                <cacheManager name="CacheManagerWithBadStoreType" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100000" numberToRemoveWhenScavenging="10">
                    <cacheStorage xsi:type="CustomCacheStorageData" name="storageWithBadType" type="abc">
                        <extensions />
                    </cacheStorage>
                </cacheManager>
                <cacheManager name="InMemoryPerformanceTest" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100000" numberToRemoveWhenScavenging="100">
                    <cacheStorage xsi:type="CustomCacheStorageData" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching">
                        <extensions />
                    </cacheStorage>
                </cacheManager>
                <cacheManager name="InIsolatedStoragePreformanceTest" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100000" numberToRemoveWhenScavenging="100">
                    <cacheStorage xsi:type="IsolatedStorageCacheStorageData" name="Isolated Storage"
                        isolatedStorageAreaName="PerformanceTesting" />
                </cacheManager>
                <cacheManager name="InDatabasePerformanceTest" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="100000" numberToRemoveWhenScavenging="100">
                    <cacheStorage xsi:type="DataCacheStorageData" name="Data Cache Storage"
                        databaseInstanceName="CachingDatabase" partitionName="Partition1" />
                </cacheManager>
                <cacheManager name="DifferentPartitionDatabase" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10">
                    <cacheStorage xsi:type="DataCacheStorageData" name="Data Cache Storage"
                        databaseInstanceName="CachingDatabase" partitionName="Partition2" />
                </cacheManager>                
                <cacheManager name="RawDataInCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
                    expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10">
                    <cacheStorage xsi:type="DataCacheStorageData" name="Data Cache Storage"
                        databaseInstanceName="CachingDatabase" partitionName="Partition2" />
                </cacheManager>
            </cacheManagers>
        </enterpriseLibrary.cacheSettings>
    </xmlSerializerSection>
</cachingConfiguration>