<?xml version="1.0" encoding="utf-8" ?> <!--This file was created by the Enterprise Library Configuration Tool. Any changes will be overwritten.-->
<dataConfiguration>
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data">
        <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data" defaultInstance="CachingDatabase">            
            <databaseTypes>
                <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data" />
            </databaseTypes>
            <instances>
                <instance name="CachingDatabase" type="Sql Server" connectionString="Connection String1" />
            </instances>
            <connectionStrings>
                <connectionString name="Connection String1">
                    <parameters>
                        <parameter name="server" value="localhost" />
                        <parameter name="database" value="Caching" />
                        <parameter name="Integrated Security" value="True" />
                    </parameters>
                </connectionString>
            </connectionStrings>
        </enterpriseLibrary.databaseSettings>
    </xmlSerializerSection>
</dataConfiguration>