<?xml version="1.0" encoding="utf-8"?>
<cachingConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
    <enterpriseLibrary.cacheSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultCacheManager="Default Cache Manager" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/cache">
      <cacheManagers>
        <cacheManager name="Database Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10">
          <cacheStorage xsi:type="DataCacheStorageData" name="Data Cache Storage" databaseInstanceName="Database Instance" partitionName="DefaultPartition" />
        </cacheManager>
        <cacheManager name="Default Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10">
          <cacheStorage xsi:type="CustomCacheStorageData" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
            <extensions />
          </cacheStorage>
        </cacheManager>
      </cacheManagers>
    </enterpriseLibrary.cacheSettings>
  </xmlSerializerSection>
</cachingConfiguration>