<?xml version="1.0" encoding="utf-8"?>
<loggingConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging">
    <enterpriseLibrary.loggingSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" loggingEnabled="true" tracingEnabled="true" categoryFilterMode="AllowAllExceptDenied" distributionStrategy="In Process" minimumPriority="0" name="Client Settings" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/logging">
      <categoryFilters />
      <distributionStrategies>
        <distributionStrategy xsi:type="InProcDistributionStrategyData" name="In Process" />
      </distributionStrategies>
    </enterpriseLibrary.loggingSettings>
  </xmlSerializerSection>
</loggingConfiguration>