<?xml version="1.0" encoding="utf-8" ?>
<!-- file created by configuration tool any changes will be overriden -->
<exceptionHandlingConfiguration>
	<xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling">
		<enterpriseLibrary.exceptionHandlingSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/exceptionhandling" >
			<exceptionPolicies>
				<exceptionPolicy name="Default Policy">
					<exceptionTypes>
						<exceptionType name="ArgumentNullException" type="System.ArgumentNullException, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
							postHandlingAction="None">
							<exceptionHandlers>
								<exceptionHandler xsi:type="CustomHandlerData" name="MockExceptionHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.MockExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
								<exceptionHandler xsi:type="CustomHandlerData" name="MockExceptionHandler1" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.MockExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
								<exceptionHandler xsi:type="CustomHandlerData" name="MockExceptionHandler2" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.MockExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
							</exceptionHandlers>
						</exceptionType>
					</exceptionTypes>
				</exceptionPolicy>
				<exceptionPolicy name="Error Policy">
					<exceptionTypes>
						<exceptionType name="Exception" type="System.Exception, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
							postHandlingAction="ThrowNewException">
							<exceptionHandlers>
								<exceptionHandler xsi:type="CustomHandlerData" name="MockBadExceptionHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.MockBadExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
								<exceptionHandler xsi:type="CustomHandlerData" name="MockExceptionHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.MockExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
							</exceptionHandlers>
						</exceptionType>
					</exceptionTypes>
				</exceptionPolicy>
				<exceptionPolicy name="Rethrow Policy">
					<exceptionTypes>
						<exceptionType name="Exception" type="System.Exception, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
							postHandlingAction="ThrowNewException">
							<exceptionHandlers>
								<exceptionHandler xsi:type="CustomHandlerData" name="MockExceptionHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.MockExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
							</exceptionHandlers>
						</exceptionType>
					</exceptionTypes>
				</exceptionPolicy>
				<exceptionPolicy name="Null Replace Policy">
					<exceptionTypes>
						<exceptionType name="Exception" type="System.Exception, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
							postHandlingAction="ThrowNewException">
							<exceptionHandlers>
								<exceptionHandler xsi:type="CustomHandlerData" name="MockNullReplaceExceptionHandler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Tests.MockNullReplaceExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
							</exceptionHandlers>
						</exceptionType>
					</exceptionTypes>
				</exceptionPolicy>
				<exceptionPolicy name="Fake Policy">
					<exceptionTypes>
						<exceptionType name="Exception" type="System.Exception, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
							postHandlingAction="ThrowNewException">
							<exceptionHandlers>
								<exceptionHandler xsi:type="CustomHandlerData" name="MockNullReplaceExceptionHandler" type="GARBAGE" />
							</exceptionHandlers>
						</exceptionType>
					</exceptionTypes>
				</exceptionPolicy>
				<exceptionPolicy name="Fake Rethrow Type Policy">
					<exceptionTypes>
						<exceptionType name="Exception" type="System.Exception, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
							postHandlingAction="ThrowNewException">
							<exceptionHandlers>
								<exceptionHandler xsi:type="ReplaceHandlerData" name="ReplaceHandler" replaceExceptionTypeName="GARBAGE" />
							</exceptionHandlers>
						</exceptionType>
					</exceptionTypes>
				</exceptionPolicy>
				<exceptionPolicy name="Wrap Policy">
					<exceptionTypes>
						<exceptionType name="Exception" type="System.Exception, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
							postHandlingAction="ThrowNewException">
							<exceptionHandlers>
								<exceptionHandler xsi:type="WrapHandlerData" exceptionMessage="Test Message" wrapExceptionTypeName="System.ApplicationException, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
									name="WrapHandler" />
							</exceptionHandlers>
						</exceptionType>
					</exceptionTypes>
				</exceptionPolicy>
				<exceptionPolicy name="Replace Policy">
					<exceptionTypes>
						<exceptionType name="Exception" type="System.Exception, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
							postHandlingAction="ThrowNewException">
							<exceptionHandlers>
								<exceptionHandler xsi:type="ReplaceHandlerData" exceptionMessage="Test Message" replaceExceptionTypeName="System.ApplicationException, mscorlib, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
									name="ReplaceHandler" />
							</exceptionHandlers>
						</exceptionType>
					</exceptionTypes>
				</exceptionPolicy>
			</exceptionPolicies>
		</enterpriseLibrary.exceptionHandlingSettings>
	</xmlSerializerSection>
</exceptionHandlingConfiguration>