<configuration>
    <configSections>
        <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration" />
    </configSections>
    <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
        <configurationSections>
            <configurationSection name="exceptionHandlingConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="Storage Provider" path="EnterpriseLibrary.ExceptionHandling.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="exceptionHandlingConfiguration" />
            </configurationSection>
        </configurationSections>
    </enterpriselibrary.configurationSettings>
</configuration>