<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler,Microsoft.Practices.EnterpriseLibrary.Configuration" />
    </configSections>
    <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
        <configurationSections>
            <configurationSection name="ApplConfig1">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="myconfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer" />
            </configurationSection>
            <configurationSection name="EncryptedProblem" encrypt="true">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="BlankEncryptConfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer" />
            </configurationSection>            
            <configurationSection name="MyEncryptedConfig" encrypt="true">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="EncryptConfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer" />
            </configurationSection>
            <configurationSection name="japanese-xml">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="JapaneseXml.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer" />
            </configurationSection>
            <configurationSection name="MockConfig">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="myconfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer" />
            </configurationSection>
            <configurationSection name="SpaceConfig">
                <storageProvider xsi:type="XmlFileStorageProviderData" path="         myconfig.xml" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer" />
            </configurationSection>
            <configurationSection name="ReadOnlyConfig">
                <storageProvider xsi:type="ReadOnlyStorageProviderData" name="ReadonlyStorage" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer" />
            </configurationSection>
            <configurationSection name="NoStorageConfig">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="NotRealStorage" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="XmlTransformer" />
            </configurationSection>
            <configurationSection name="NoTransformer">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="NoTransformerConfig.xml" />
            </configurationSection>
        </configurationSections>
        <keyAlgorithmStorageProvider xsi:type="FileKeyAlgorithmPairStorageProviderData" name="File Key Algorithm Storage Provider"
            path="encryptkey.key">
            <dpapiSettings xsi:nil="true" />
        </keyAlgorithmStorageProvider>
    </enterpriselibrary.configurationSettings>
    <appSettings>
        <add key="MyKey" value="MyValue" />
    </appSettings>
</configuration>