<configuration>
    <configSections>
        <section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler, Microsoft.Practices.EnterpriseLibrary.Configuration" />
    </configSections>
    <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
        <configurationSections>
            <configurationSection name="exceptionHandlingConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="Storage Provider" path="EnterpriseLibrary.ExceptionHandling.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="exceptionHandlingConfiguration">
                    <includeTypes>
                        <includeType name="Logging Exception Handler Data" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.Configuration.LoggingExceptionHandlerData, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" />
                    </includeTypes>
                </dataTransformer>
            </configurationSection>
            <configurationSection name="loggingConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="EnterpriseLibrary.Logging.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="DataBuilder" />
            </configurationSection>
            <configurationSection name="loggingDistributorConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="EnterpriseLibrary.LoggingDistributor.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="DataBuilder" />
            </configurationSection>
        </configurationSections>
    </enterpriselibrary.configurationSettings>
</configuration>