<?xml version="1.0" encoding="utf-8" ?> 
<securityCryptographyConfiguration>
	<xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography">
		<enterpriseLibrary.securityCryptographySettings 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security/cryptography"
			applicationID="{9E9354D7-7D3D-4221-AE38-21033B740E39}">
		
			<keyProtector mode="Machine" entropy="0000000000000000000000=="/>
			
			<hashProviders/>
			
			<symmetricCryptoProviders>
				<symmetricCryptoProvider 
					xsi:type="DpapiSymmetricCryptoProviderData" 
					name="dpapi1">
					
					<dpapiSettings mode="User" entropy=""/>
				</symmetricCryptoProvider>
					
			</symmetricCryptoProviders>

		</enterpriseLibrary.securityCryptographySettings>
	</xmlSerializerSection>
</securityCryptographyConfiguration>