<?xml version="1.0" encoding="utf-8" ?>
<cachingConfiguration>
    <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching">
        <enterpriseLibrary.cacheSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/cache" defaultCacheManager="InMemoryPersistenceWithNullEncryption">
            <cacheManagers>
                <cacheManager name="InMemoryPersistenceWithNullEncryption" expirationPollFrequencyInSeconds="60"
                    maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="10">
                    <cacheStorage  xsi:type="CustomCacheStorageData" name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching">
                        <storageEncryption name="nullEncryptor" xsi:type="MockStorageEncryptionProviderData" />
                    </cacheStorage>
                </cacheManager>
                <cacheManager name="InMemoryPersistenceWithSymmetricEncryption" expirationPollFrequencyInSeconds="60"
                    maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="10">
                    <cacheStorage  xsi:type="CustomCacheStorageData" name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching">
                        <storageEncryption name="dpapiEncryptor" symmetricInstance="dpapi1" xsi:type="SymmetricStorageEncryptionProviderData" />
                    </cacheStorage>
                </cacheManager>
            </cacheManagers>
        </enterpriseLibrary.cacheSettings>
    </xmlSerializerSection>
</cachingConfiguration>
