<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="enterpriselibrary.configurationSettings" type="Microsoft.Practices.EnterpriseLibrary.Configuration.ConfigurationManagerSectionHandler,Microsoft.Practices.EnterpriseLibrary.Configuration"/>
	</configSections>
	<enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
		<configurationSections>
			<configurationSection name="cachingConfiguration">				
				<storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" path="EnterpriseLibrary.Caching.config"/>
				<dataTransformer xsi:type="XmlSerializerTransformerData" name="DataBuilder">
					<includeTypes>
						<includeType name="Isolated Storage Configuration Data" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.IsolatedStorageCacheStorageData, Microsoft.Practices.EnterpriseLibrary.Caching"/>
						<includeType name="Symmetric Crypto Caching Configuration Data" type="Microsoft.Practices.EnterpriseLibrary.Caching.Cryptography.Configuration.SymmetricStorageEncryptionProviderData, Microsoft.Practices.EnterpriseLibrary.Caching.Cryptography"/>
						<includeType 
							name="MockStorageEncryptionProviderData"
							type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.Tests.MockStorageEncryptionProviderData, Microsoft.Practices.EnterpriseLibrary.Caching" />			
					</includeTypes>
				</dataTransformer>
			</configurationSection>
			<configurationSection name="securityCryptographyConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="Storage" path="EnterpriseLibrary.Security.Cryptography.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="Transformer">
                    <includeTypes />
                </dataTransformer>
            </configurationSection>
		</configurationSections>
	</enterpriselibrary.configurationSettings>
</configuration>
