












































































    
    
    






































































<configuration>
    <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	    <dependentAssembly>
		<assemblyIdentity name="iAnywhere.UltraLite"
			publicKeyToken="ff11483eb5a8c1a5"
			culture=neutral
		    />
		<bindingRedirect oldVersion="9.0.0.0-9.0.2.2451"
			newVersion="9.0.2.2451"
		    />
	    </dependentAssembly>
	</assemblyBinding>
    </runtime>
</configuration>
